<!-- <p>note-list works!</p> -->

<div class="container m-3">
  <div class="row">
    <button class="btn btn-success" type="button" [routerLink]="['/new-note']">Create new note</button>
  </div>
  <br>
  <div class="card">
    <div class="card-header">Your current notes</div>
    <div class="card-body table-responsive">
      <div *ngIf="(currentNotes | async) as notes; else noteError">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Created</th>
              <th>Last modified</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- <div *ngIf="(currentNotes | async) as notes; else noteError"> -->
              <tr *ngFor="let note of notes">
                <td (click)="readNote(note)">{{ note.title }}</td>
                <td>{{ note.created }}</td> 
                <td>{{ note.modified }}</td>
                <td><button class="btn btn-sm btn-primary" >Edit</button><button class="btn btn-sm btn-danger">Delete</button></td>
              </tr>
            <!-- </div> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="(currentNotes | async) as notes; else noteError">
  <div *ngFor="let note of notes">
    {{ note.id }}, {{ note.title }}
  </div>
</div> -->


<ng-template #noteError>
  <div>
    No current notes avaliable
  </div>
</ng-template>